
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_LayoutPageLogOn.cshtml";
}

<style>
    #divBody {
        padding-top: 65px;
    }
</style>
<div class="container-fluid" id="divBody2">
    <div class="row">
        
        <div class="col-lg-12">
            <h2 class="alert-danger text-center">Unauthorized Access</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="alert-danger text-center">You are not authorized to use this application.  Please see the IS department.  You will need permission from your manager to add you to have access to this site.</p>
        </div>
    </div>
</div>